 body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #0f2380;
}
.center-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.title-group {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.title-group h1 {
    font-size: 4rem;
    color:#9eccfa;
}

.title-group h3 {
    font-size: 2rem;
}
.controls-group {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 1.5em;
}
select {
    font-size: 1.5rem;
    padding: 0.4em 0.8em;
}
button {
    font-size: 1.5rem;
    padding: 0.4em 1.5em;
}
